/*
CSS rules order:
1. Position
2. Box model
3. Typography
4. Visual effects
5. Miscellaneus
*/

:root {
  /* Typography */
  --size-300: 300;
  --size-400: 400;
  --size-500: 500;
  --size-700: 700;

  /* Colors */
  --background: #E5E5E5;
  --bitcoin-orange: #F7931A;
  --green: #14AA78;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --soft-grey: #757575;
  --off-white: #FAF8F7;
  --just-white: #FFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

/* header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #753b01 0%, #F7931A 100%);
}

header figure img {
  width: 150px;
  height: 24px;
  margin-top: 40px;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
}

.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: var(--size-700);
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__title-container p {
  margin-top: 40px;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__title-container .header__button {
  /*Position & box model*/
  position: absolute;
  display: block;
  height: 48px;
  width: 229px;
  top: calc(100% - 24px);
  left: calc(50% - 114.5px);
  padding: 16px;
  /*typography*/
  font-size: 1.4rem;
  font-weight: var(--size-700);
  text-decoration: none;
  color: var(--black);
  /*visual efects*/
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('../assets/icons/down-arrow.svg');
}
/* header ends */

/* main page */
main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}

.main__exchange-container {
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom:50px;
  text-align: center;
}

.main__exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main__exchange-container .background-img {
  width: 200px;
  height: 200px;
  margin: 0 auto 50px auto;
  background-image: url('../assets/imgs/Bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: var(--size-700);
  line-height: 2.6rem;
  color: var(--black);
}

.main__exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.6rem;
  color: var(--soft-grey);
}

/*
Cryptocurrencies and commissions tables.
They are the same layout but with minor differences.
*/
.main__data-table {
  width: 90%;
  min-width: 225px; /*70% * 320px */
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: 'Inter', 'sans-serif';
}

.main__data-table .table__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: var(--size-700);
  line-height: 2.3rem;
}

.main__data-table .table__data {
  width: 90%;
  min-width: 225px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.main__data-table table {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.20);
}

.main__data-table td {
  width: 50%;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.9rem;
  color: var(--soft-grey);
  background-color: var(--just-white);
}

.main__data-table .table__left div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.main__data-table .table__left img {
  width: 16px;
  height: 16px;
  margin-left: 16px;
  margin-right: 10px;
}

.main__data-table .table__right .trending {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
}

.main__data-table .trend__down {

  background-image: url('../assets/icons/trending-down.svg');
}

.main__data-table .trend__up {
  background-image: url('../assets/icons/trending-up.svg');
}

.main__data-table .currency-title {
  color: var(--bitcoin-orange);
}

.main__currency-table--date {
  width: max-content;
  height: 24px;
  margin: 10px auto 0;
  padding: 4px;
  background-color: var(--soft-orange);
  border-radius: 6px;
}

.main__currency-table--date p {
  margin: 0 6px;
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--warm-black);
  font-weight: var(--size-700);
}

.main__data-table .commissions-title {
  color: var(--secondary-blue);
}

.main__commissions-table--date {
  width: max-content;
  height: 24px;
  margin: 10px auto 0;
  padding: 4px;
  background-color: var(--soft-blue);
  border-radius: 6px;
}

.main__commissions-table--date p {
  margin: 0 6px;
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--warm-black);
  font-weight: var(--size-700);
}
/* currencies and commissions ends*/


/* Product benefits section */
.main__product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}

.product-detail--logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -12px;
  left: calc(50% - 20px);
  background-image: url('../assets/icons/batata.svg');
}

.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 36px;
  text-align: center;
}

.product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: var(--size-500);
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.8rem;
  color: var(--grey);
}

.product-card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 14px auto;
  padding: 14px;
  background-color: var(--black);
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card .icon-card {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-card--title {
  margin-bottom: 16px;
  font-size: 1.8rem;
  font-weight: var(--size-500);
  line-height: 1.8rem;
  color: var(--just-white);
}

.product-card--body {
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.8rem;
  color: var(--grey);
}

.product-card .clock-icon {
  background-image: url('../assets/icons/clock.svg');
}

.product-card .eye-icon {
  background-image: url('../assets/icons/eye.svg');
}

.product-card .dolar-icon {
  background-image: url('../assets/icons/dollar-sign.svg');
}

.product-card .check-icon {
  background-image: url('../assets/icons/check-circle.svg');
}
/* product benefits ends*/


/* picture section */
.main__img-container {
  position: relative;
  width: 100%;
  min-width: 320px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bitcoin-img img {
  width: 100%;
  display: block;
}

.main__img-container h2 {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 80px;
  font-size: 3.0rem;
  font-weight: var(--size-500);
  line-height: 2.6rem;
  color: var(--just-white);
}
/* picture section ends*/

/* pricing section */
.main__plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.plans-title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.plans-title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: var(--size-700);
  line-height: 2.6rem;
  color: var(--black);
}

.plans-title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.6rem;
  color: var(--soft-grey);
}

.plans-container--slider {
  display: flex;
  height: 320px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--slider::-webkit-scrollbar {
  height: 3px;
}

.plans-container--slider::-webkit-scrollbar-thumb {
  background-color: var(--bitcoin-orange);
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 60%;
  min-width: 192px;
  max-width: 320px;
  height: 250px;
  margin: 50px 12px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.2);
}

.plans-recommended {
  position: absolute;
  width: 120px;
  height: 32px;
  top: -16px;
  left: calc(50% - 60px);
  line-height: 32px; /*for center one word text*/
  font-size: 1.4rem;
  color: var(--just-white);
  border-radius: 4px;
}

.basic-plan {
  background-color: var(--secondary-blue);
}

.recommended-plan {
  background-color: var(--bitcoin-orange);
}

.exclusive-plan {
  background-color: var(--green);
}

.plan-card--title {
  padding-top: 40px;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.8rem;
  color: var(--black);
}

.plan-card--price {
  padding: 6px 0;
  font-size: 5.2rem;
  font-weight: var(--size-700);
  line-height: 5.2rem;
  color: var(--black);
}

.plan-card--price sup {
  font-size: 2.0rem;
}

.plan-card--saving {
  font-size: 1.2rem;
  color: var(--soft-grey);
  margin-bottom: 35px;
}

.plan-card--action {
  width: 128px;
  height: 48px;
  font-size: 1.4rem;
  font-weight: var(--size-700);
  line-height: 2.0rem;
  background-color: var(--off-white);
  border: 2px solid;
  border-radius: 4px;
}

.buy-basic-button {
  border-color: var(--secondary-blue);
  color: var(--secondary-blue);
}

.buy-recommended-button {
  border-color: var(--bitcoin-orange);
  color: var(--bitcoin-orange);
}

.buy-exclusive-button {
  border-color: var(--green);
  color: var(--green);
}

.plan-card--action span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-image: url('../assets/icons/orange-right-arrow.svg');
  vertical-align: text-bottom;
}
/* pricing section ends*/


/* footer starts */
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}

footer .left ul {
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.8rem;
  list-style: none;
}

footer .left li {
  margin: 12px 0;
}

footer .left a {
  text-decoration: none;
  color: var(--just-white);
}
/* footer ends */

/* Media Queries */
